@using WebApplication2.Models;
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Ana Sayfa";
}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hoşgeldiniz</h1>
        <p class="lead">Bu, öne çıkan içerik veya bilgileri vurgulamak için kullanılan basit bir jumbotron-stil bileşenidir.</p>
        <hr class="my-4">
        <p>Bu bileşen, içerikleri daha geniş bir kapsayıcı içinde düzenlemek için tipografi ve boşluk sınıflarını kullanır.</p>    
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList", Model)
</div>
